# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Secrets
.env
*.env

# Databases
db.sqlite3
*.db
*.sqlite
*.sqlite3

# Data / datasets
*.json
data/

# Vector indexes
faiss_index/
vector_index/
*.faiss
*.pkl

# AI models
*.pth
*.pt
*.ckpt

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
